[submodule "mu_platform_nxp/MU_BASECORE"]
	path = mu_platform_nxp/MU_BASECORE
	url = https://github.com/Microsoft/mu_basecore.git
	branch = release/201903

[submodule "mu_platform_nxp/Common/MU"]
	path = mu_platform_nxp/Common/MU
	url = https://github.com/Microsoft/mu_plus.git
	branch = release/201903
[submodule "mu_platform_nxp/Common/MU_TIANO"]
	path = mu_platform_nxp/Common/MU_TIANO
	url = https://github.com/Microsoft/mu_tiano_plus.git
	branch = release/201903
[submodule "mu_platform_nxp/Common/MU_OEM_SAMPLE"]
	path = mu_platform_nxp/Common/MU_OEM_SAMPLE
	url = https://github.com/Microsoft/mu_oem_sample.git
	branch = release/201903
[submodule "imx-atf"]
	path = imx_atf
	url = https://source.codeaurora.org/external/imx/imx-atf
	branch = imx_4.14.98_2.0.0_ga
[submodule "MSRSec"]
	path = MSRSec
	url = https://github.com/Microsoft/MSRSec
